.font-size-17 {
  font-size: 17px;
}

.margin-bottom-normal {
  margin-bottom: 20px;
}

.content-container {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.item {
  float: left;
  margin-bottom: 10px;
}

.thumbnail-style {
  height: 200px;
  min-width: -webkit-fill-available;
}

.lb-close {
  display: none !important;
}

.donate-container {
  border-radius: 30px;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 30px;
}

.donate-container .donate-header {
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
